doctype html
html(class="no-js", lang="ru")


	include ../../node_modules/bemto.jade/bemto

	include ../modules/head/head
	include ../modules/header/header
	include ../modules/main/main
	include ../modules/breadcrumbs/breadcrumbs
	include ../modules/content/content
	include ../modules/sidebar/sidebar
	include ../modules/subscribe/subscribe
	include ../modules/schedule/schedule

	include ../modules/footer/footer

	head
		+head(head.defaults)
	body.page
		|%=symbols=%

		.page__w
			.page__w-w

				+header()
				+breadcrumbs
					span(xmlns:v='http://rdf.data-vocabulary.org/#')
						+e('span').list(typeof='v:Breadcrumb')
							+e('a').item(href='#index', rel='v:url', property='v:title') Головна
							| /
							+e('span').item._last Біографія
				+main._inner

					+content._full
						+e('h1').title КРИВОХАТЬКО ВАДИМ ВІКТОРОВИЧ

						+e('p').text <strong>Народився 7 січня 1962 року в селі Катеринівка Дніпропетровської області Української РСР. <br/>Громадянин України з 1991 року. Постійно проживає на території України з моменту проголошення <br/>незалежності. </strong>

						+e('p').text <strong>У 1991 році </strong>,після розпаду Радянського Союзу, звільнився з органів МВС, оскільки побачив, що нова<br/> система правоохоронних органів перестає відповідати принципу “служити і захищати”.

						+e('p').text <strong>У 1992 році </strong>заснував фермерське господарство “Кривохатько В.В.”, яке очолював до 16 березня <br/>2005 року. Залишив цю посаду у зв’язку з переходом на державну службу – до 17 травня 2006 року<br/> обіймав посаду голови Вільнянської районної державної адміністрації Запорізької області.

						+e('p').text В травні 2006 року повернувся на підприємство в якості найманого працівника.<br/> <strong>З 2006 року</strong> по сьогоднішній час займав посади юриста та старшого юриста фермерського господарства<br/> “Кривохатько В.В.”.

						+e('p').text <strong>З 2011 року</strong> за сумісництвом – директор ТОВ “Райцентр”.



						+e('h2') ОСВІТА ТА ТРУДОВА ДІЯЛЬНІСТЬ


						+e('p').text <b>З 1968 року</b> мешкав у селищі Кам’яне Вільнянського району Запорізької області, де у 1977 році закінчив<br/> вісьмирічну школу та вступив до Запорізького ПТУ №14. Після його закінчення <b>з 1979 року</b> працював<br/> слюсарем IV розряду на Янцевському гранітному кар’єрі.

						+e('p').text <b>З 1980 до 1982 року</b> проходив службу у Радянській Армії.

						+e('p').text <b>З 1982 по 1991 року</b> служив в органах МВС Української РСР та України, працював оперуповноваженим<br/> карного розшуку Шевченківського РВ УМВС України в Запорізькій області

						+e('p').text <b>З 1987 по 1990 року</b> навчався у Київській вищій школі МВС СРСР імені Ф.Е. Дзержинського, де здобув<br/> вищу освіту за спеціальністю “Правознавство”.

						+e('p').text <b>З 27 листопада 2014 року</b> – народний депутат України, член комітету Верховної Ради України з питань<br/> протидії і запобігання корупції.

						+e('h2') ГРОМАДСЬКО – ПОЛІТИЧНА ДІЯЛЬНІСТЬ

						+e('p').text На місцевих виборах 2010 року був обраний депутатом Вільнянської районної ради Запорізької області.

						+e('p').text Член Політичної партії “УДАР (Український Демократичний Альянс за Реформи) Віталія Кличка”, керівник<br/> Запорізької обласної організації партії.

						+e('h2') СІМЕЙНИЙ СТАН

						+e('p').text Одружений, має двох дочок.


						+e('h2') ПРОЖИВАЄ

						+e('p').text с. Кам’яне Вільнянського району Запорізької області



				+footer()


		script(src='%=static=%js/separate-js/svg4everybody.min.js')
		script svg4everybody();

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')
