mixin pagination(data)
	+b.pagination
		+e('a').link._back(href='#link') Назад
		+e('a').link(href='#link') 1
		+e('a').link(href='#link') 2
		+e('a').link(href='#link') 3
		+e('a').link._next(href='#link') Вперед
