.footer
	background-color #0369b1
	border-radius 0 0 9px 9px
	&__w
		border-top 1px solid rgba(255,255,255,.2)
		margin-left 30px
		margin-right 30px
		padding-top 20px
		padding-bottom 18px
		text-align center
	&__copyright
		margin-left -51px
		color white
