.meetings
	margin-bottom 42px
	&__title
		margin-bottom 10px
		font-size 28px
		font-weight normal
		color #1b3d76
	&__item
		margin-bottom 20px
		clearfix()
	&__image
		margin-right 4px
		margin-bottom 5px
		border 1px solid rgba(0, 0, 0, 0.09)
		width 265px
		height 196px
		background #f7f7f7 url('../images/general/image-placeholder.png') 50% no-repeat
		img
			display block
			max-width 100%
			height auto
	&__image_left
		float left
	&__date
		margin-bottom 6px
		font-size 14px
		font-weight normal
		color #d1d0d0
		span
			display inline-block
			vertical-align top
	&__date-icon
		margin-right 4px
		display inline-block
		vertical-align baseline
		bg($date-icon)
	&__item-title
		margin-bottom 6px
		font-family $ubuntu-reg
		font-size 20px
		font-weight normal
		color black
		a
			color black
			text-decoration none
			&:hover
				text-decoration underline
	&__item-text
		font-weight normal
		line-height 20px
		color black
		letter-spacing tracking(-24)
	&__more
		text-align right
		a
			color #0369b1
			text-decoration underline
			&:hover
				text-decoration none



