mixin schedule(data)
	+b.schedule
		+e('h2').title Графік зустрічей з виборцями
		+b('table').table
			+e('thead').head
				+e('tr').row
					+e('td').head-cell №
					+e('td').head-cell Назва населеного пункту
					+e('td').head-cell Дата та час
					+e('td').head-cell Місце
			+e('tbody').body
				+e('tr').row
					+e('td').cell 1
					+e('td').cell м. Вільнянськ
					+e('td').cell 23.02.16 <br/>10-12.00
					+e('td').cell Софіївська <br/>колонія <br/>№ 55
				+e('tr').row
					+e('td').cell 2
					+e('td').cell м. Гуляйполе
					+e('td').cell 25.02.16 <br/>10-12.00
					+e('td').cell Гуляйпільська <br/>РДА - райрада
				+e('tr').row
					+e('td').cell 3
					+e('td').cell с.Новоолександрівка Запорізький р-н
					+e('td').cell 01.03.16 <br/>10-12.00
					+e('td').cell Новоолексан. <br/>с/рада
				+e('tr').row
					+e('td').cell 4
					+e('td').cell с. Лукашеве Запорізький р-н
					+e('td').cell 03.03.16 <br/>10-12.00
					+e('td').cell Лукашевська <br/>с/рада
				+e('tr').row
					+e('td').cell 5
					+e('td').cell с. Чапаївка Пологівського р-ну
					+e('td').cell 04.03.16 <br/>10-12.00
					+e('td').cell Чапаївська <br/>с/рада
				+e('tr').row
					+e('td').cell 6
					+e('td').cell с. Долинське Запорізький р-н
					+e('td').cell 07.03.16 <br/>10-12.00
					+e('td').cell Долинська <br/>с/рада
				+e('tr').row
					+e('td').cell 7
					+e('td').cell м.Вільнянськ
					+e('td').cell 09.03.16 <br/>10-12.00
					+e('td').cell Вільнянська <br/>РДА - райрада
				+e('tr').row
					+e('td').cell 8
					+e('td').cell с. Терсянка Новомиколаївського р-ну
					+e('td').cell 11.03.16 <br/>10-12.00
					+e('td').cell Терсянська <br/>с/рада
				+e('tr').row
					+e('td').cell 9
					+e('td').cell с. Вільнянка Оріхівського р-ну
					+e('td').cell 14.03.16 <br/>10-12.00
					+e('td').cell Вільнянська <br/>с/рада












