.schedule
	&__title
		margin-bottom 12px
		font-family $ubuntu-med
		font-size 20px
		font-weight normal
		color black
		text-align center
.table
	border 1px solid rgba(0, 0, 0, 0.13)
	min-height 490px
	background-color #fbfbfb
	vertical-align middle
	text-align center
	&__row
		&:nth-child(odd)
			background #FFF
		&:nth-child(even)
			background-color #fbfbfb

	&__head-cell
		border 1px solid rgba(0, 0, 0, 0.13)
		height 40px
		background #D3E4EF
		font-size 14px
		line-height 14px
		color black

	&__cell
		border 1px solid rgba(0, 0, 0, 0.13)
		padding-top 10px
		padding-bottom 10px
		&:nth-child(1)
			width 37px
		&:nth-child(2)
			width 126px
		&:nth-child(3)
			width 70px
		&:nth-child(4)
			width 86px
	&__body
		font-size 12px
		color black


