.main
	@extend .in
	padding-top 34px
	padding-left 33px
	padding-bottom 48px
	background #FFF
	clearfix()

.main_inner
	padding-top 0
	padding-right 33px
	padding-left 33px
	padding-bottom 66px

.main_style-2
	padding-top 0
	padding-right 28px
	padding-left 28px
	padding-bottom 30px

.main_style-3
	padding-top 0
	padding-right 28px
	padding-left 28px
	padding-bottom 0
