// Common styles of the project


// .page
//     // Стили для body

// .page__wrapper
//     min-height 100%
//     margin-bottom -50px


// * html .page__wrapper
//     height 100%

// .page__buffer
//     height 50px

html,
body
	height 100%

.page
	background #56B2FD url('../images/general/bg.jpg') 50% 0% no-repeat
	// background-size contain 100%
	background-size cover 100%

	font-family $ubuntu-lht
	font-size 16px
	line-height 1

	color black

	&__w
		padding-top 50px
		padding-bottom 60px
	&__w-w
		margin auto
		width 1032px
		background-color white
		border-radius 9px
		box-shadow 0 0 21px rgba(0, 0, 0, 0.26)



.in
	margin auto
	padding-left 33px
	padding-right 30px
	width 1032px




