// Common styles of the project


// .page
//     // Стили для body

// .page__wrapper
//     min-height 100%
//     margin-bottom -50px


// * html .page__wrapper
//     height 100%

// .page__buffer
//     height 50px



.page
	background #56B2FD url('../images/general/bg.jpg') 50% 100% no-repeat
	font-family $ubuntu-lht
	font-size 16px
	line-height 20px
	color black
	background-size cover
	&__w
		padding-top 50px
	&__w-w
		margin auto
		width 1032px
		background-color white
		border-radius 9px
		box-shadow 0 0 21px rgba(0, 0, 0, 0.26)



.in
	margin auto
	width 1032px

