// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.wysiwyg
	h1
		margin-bottom 13px
		font-family $ubuntu-med
		font-size 36px
		font-weight normal
		color #1b3d76
	p
		margin-bottom 8px
		font-size 20px
		line-height 26px
		color black
		strong
			font-family $ubuntu-reg
			font-size 20px
			font-weight normal
			line-height 26px
			color #010101
		b
			font-family $ubuntu-med
			font-weight normal
	h2
		margin-top 26px
		margin-bottom 12px
		font-family $ubuntu-med
		font-size 30px
		font-weight normal
		line-height 26px
		color #0369b1

