.breadcrumbs
	margin-bottom 15px
	@extend .in
	border-bottom 1px solid rgba(0, 0, 0, 0.1)
	padding-top 10px
	padding-left 28px
	padding-bottom 5px
	min-height 29px
	background-color #f9f9f9
	&__list
		font-family $ubuntu-reg
		font-size 13px
		font-weight normal
		line-height 15px
	&__item
		margin-right 5px
		margin-left 5px
		display inline-block
		vertical-align top
		color #616060
		text-decoration none
		&:hover
			text-decoration underline
	&__item_last
		margin-left 5px
		color #010101
		&:hover
			text-decoration none
